#IDE specific files
.idea/*
*.jar
out
out/*
target/classes/*
target/test-classes/*
target/surefire-reports/*
settings.xml
*.iml
build/
.gradle
.gradle/*
classes/
# Eclipse
/bin
*.jar
/target
/.settings
.classpath
.project